curent version bumped ebuild 
from debianx64 vm sanaptic pm revers deps list 

to do DEB-REQ ==== Gentoo REq

libzip-dev
libbz2-dev
liblzo2-2
liblzo2-2-dev
libgcrypt11-dev
e2fslibs-dev
libblkid-dev
btrfs-tols
sshfs
sshpass
nmap
samba
smbclient